sudo: required
dist: trusty
language: c
addons:
  apt:
    packages:
      - texinfo
notifications:
  email:
    - tj+travis_keyboards@a13.fr
  on_success: never

cache:
  directories:
    - ${HOME}/.gem/travis
    - ${HOME}/usr
  timeout: 3600

before_install:
  - export CHECK=$HOME/usr/lib/libcheck.a
  - . <(curl -ksS https://vault.a13.fr/dev/travis-utils/install-before.sh)
  - test -x $CHECK || cd /tmp
  - test -x $CHECK || wget -O check-0.10.0.tar.gz https://github.com/libcheck/check/archive/0.10.0.tar.gz
  - test -x $CHECK || tar xfz check-0.10.0.tar.gz
  - test -x $CHECK || cd check-0.10.0
  - test -x $CHECK || autoreconf --install
  - test -x $CHECK || ./configure --prefix=$HOME/usr
  - test -x $CHECK || (make && make install)

install:
  - unset gem GEM_HOME GEM_PATH RUBYOPT IRBRC
  - export GEM_HOME=~/.gem/travis GEM_PATH=~/.gem/travis
  - export PATH=$GEM_HOME/bin:$HOME/usr/bin:/bin:/usr/bin
  - export LD_LIBRARY_PATH=${HOME}/usr/lib
  - cd $TRAVIS_BUILD_DIR
  - gem install rake embed_utils

script:
  - RUBYOPT=-Ilib UKBD_CHECK_LOC=${HOME}/usr rake
